<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<nav th:fragment="header" class="navbar navbar-expand-lg navbar-dark" style="background-color: #008080;">
    <a class="navbar-brand" href="/">CRM Система</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/requests">Все Заявки</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/requests/unhandled">Новые Заявки</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/requests/processed">Обработанные Заявки</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/requests/new">Добавить заявку</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/courses">Курсы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/operators">Операторы</a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>